<div class="ion-padding ion-text-center">
<div *ngIf="profile?.userRole">
  <p>
    Welcome! Congratulations on your new role as an {{profile.userRole}}! Now get to work!
  </p>
</div>
<div class="preview">

  <ion-avatar (click)="changeImage()">
    <img *ngIf="profile?.imageUrl; else placheolder_avatar;" [src]="profile.imageUrl" />
    <ng-template #placheolder_avatar>
      <div class="fallback">
        <p>Select avatar</p>
      </div>
    </ng-template>
  </ion-avatar>
</div>

<div class="ion-text-center" *ngIf="profile?.userRole === 'admin'">

  <ion-nav-link router-direction="forward" [component]="component">
    <ion-button>Admin Dashboard</ion-button>
  </ion-nav-link>
</div>

</div>
