<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="note" class="ion-padding ion-text-center">
          <h2 >
            {{ note.title }}
          </h2>
              <p>
                {{ note.text }}
              </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
  <div *ngIf="note">
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input [(ngModel)]="note.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Note</ion-label>
      <ion-textarea [(ngModel)]="note.text" rows="8"></ion-textarea>
    </ion-item>
  </div>
</ion-col>
</ion-row>
    <ion-row>
      <ion-col size-sm="4" offset-sm="4">
        <ion-button expand="block" color="success" (click)="updateNote()">
          <ion-icon name="save" slot="start"></ion-icon>
          Update
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="4" offset-sm="4">

        <ion-button expand="block" color="danger" (click)="deleteNote()">
          <ion-icon name="trash" slot="start"></ion-icon>
          Delete
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
